################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/odyssey-game
/odyssey-game/ORBIS_Debug
/ORBIS_Debug
/ORBIS_Release
/odyssey-game/ORBIS_Release
/.vs/goon/v17
